*{
	margin:0; padding:0;
	font-family:Arial;
}

@media(min-width:600px){
h1{
	height:0em;
	
	margin:0 auto;

}
header{
	width:100%;
	display:flex;
	flex-direction:column;
	max-height:10em;
	background-color:aqua;
}
header button{
	border:none;
	background-color:aqua;
}
header button:focus{
	border:none;
}
header img{
	margin:1em 0 0 0;
	height:4em;
	
}

nav ul{
	justify-content:center;
	list-style-type:none;
	display:flex;
	width:50%;
	margin:3em  auto;
}
nav ul li{
	
	transition:.5s;
	text-align:center;
	width:50%;
	height:2em;
	background-color:lime;
}
nav ul li p{
	/*margin-top:.5em;*/
	margin: .5em 1em 0 1em;
}

nav ul li:hover{
	color:white;
	height:10em;
	width:100%;
	background-color:green;
	transition:.5s;
	font-size:1em;
}
}

@media(max-width:600px){
	header{
		display:flex;
		width:100%;
		position:fixed;
		top:0;
		max-height:2em;
		background-color:aqua;
	}
	header button{
		background-color:aqua;
		border:none;
	}
	header img{
		width:2em;
		height:2em;
		object-fit:fill;
	}
	header h1{
		margin:0 auto;
	}
	nav ul{
		display:none;
	}
}