*{
	margin:0; padding:0;
	font-family:Arial;
}
html{
	scroll-behavior:smooth;
}
body{
	max-width:100%;
}


@media(min-width:600px){
header{
	transition:.5s;
	position:fixed;
	top:0;
	width:100%;
	display:flex;
	flex-direction:column;
	max-height:10em;
	background-color:#0883B7;

}

.headeropen{
	max-height:45em;
	transition:.5s;
}

.ulopen{
	margin-top:38em;
	transition:.5s;
}

header img:first-of-type{
	margin:1em 0 0 0;
	height:4em;
	
}

h1{
	height:0em;
	color:white;
	margin:0 auto;
}

header form{
	display:flex;
	flex-direction:row;
	position:absolute;
	right:2em;
	top:1em;

}

header form  input:nth-of-type(1){ /*Dit is de zoekBALK*/
	margin:0;
	background-color:lightgray;
	border:none;
	font-size:1em;
	text-indent:1em;
}

header form input:nth-of-type(2){ /* dit is de zoekKNOP*/
	background-color:black;
	color:white;
	width:5em;
	height:2em;
	margin:0

}

header img:nth-of-type(2){
	position:absolute;
	margin-top:12em;
	width:100%;
}

nav ul{
	transition:.5s;
	justify-content:center;
	list-style-type:none;
	display:flex;
	width:50%;
	margin:3em  auto;
}
nav ul li{
	color:white;
	transition:.5s;
	text-align:center;
	width:50%;
	height:2em;
	background-color:#72ACD6;
}

nav ul li h2{
	font-weight:normal;
}

nav ul li a{
	text-decoration:none;
}

nav ul li a p{
	margin: .5em 1em 0 1em;
	visibility: hidden;
	text-align:left;
	text-decoration:none;
	color:black;
	
}

.menu{
	text-decoration:none;
	visibility: visible;

}

nav ul li:hover{
	color:black;
	height:6em;
	width:100%;
	background-color:#78DEDC;
	transition:.5s;
	font-size:1em;
	box-shadow:0px 5px 5px black;
}
nav ul li:nth-of-type(3):hover{
	height:8em;
}
nav ul li:nth-of-type(4):hover{
	height:7em;
}

article{
	margin:0 auto;
	padding:1em;
	width:50em;
	line-height:2em;
	margin-top:13em;
	

}

article img:first-of-type{
	float:right;
	margin-right:3em;
	width:10em;
	float:right;

}

article h3{

	font-size:1.2em;
	margin-bottom:1em;
	background-color:white;
}

article p{
	font-size:1.2em;

}

article ul{
	line-height:1.5em;
	margin:0 0 4em 1em;
	list-style-type:disc;
	margin-bottom:4em;
	
}

#onleesbaar1{
	display:inline-block;
	background-color:aqua;
	color:white;
}

article img:nth-of-type(2){
	width:40em;
}

aside{
	display:flex;
	flex-direction:column;
	justify-content:center;
	position:fixed;
	right:0;
	top:20em;
	height:180px;
	width:60px;
	background-color:white;
}

aside a{
	margin-left:.5em;
	
}
aside img{
	
	width:50px;
	height:50px;
	object-fit:fill;
}


}

@media(max-width:600px){
*{
	transition:.5s;
}

header{
	width:100%;
	background-color:#0883B7;
	position:fixed;
	display:flex;
	flex-direction:column;
	height:4.5em;
}
header img:first-of-type{
	visibility:visible;
	width:3em;
	margin:.5em;
	position:fixed;
	z-index:1000;
}
header h1{
	color:white;
	margin:0 auto;
}
header form{
	visibility:hidden;
	transition:0s;
}

header ul{
	list-style-type:none;
	display:grid;
	height:100vh;
	background-color:#0883B7;
	padding-top:4em;
	padding:4em 1em;
	/*padding-right:2em;*/
	grid-template-rows:10em 10em ;
	grid-template-columns:10em 10em;
	grid-row-gap:3em;
	grid-column-gap:3em;
	max-width:100%
	margin:0 auto;
	justify-content:center;

}
header ul li{
	list-style-type:none;
	/*margin:-1em;*/
	background-color:aqua;
	transition:.5s;
	-webkit-transform: scaleX(1);

	}


header ul li h2{
	text-align:center;
	margin-top: 2.5em;

}
header ul li a{
	transition:0s;
	text-decoration:none;
	color:black;
	position:relative;
	text-align:center;
	visibility: hidden;
	display:block;
transform: scale(-1, 1);	
}
.kliklijst{
	-webkit-transform: scaleX(-1);
	display:flex;
	flex-direction:column;
}
.klikh2{
	position: absolute;
	bottom:0;
	transition:0s;
	 visibility:hidden;
	 width:0;
}
.klika{
	margin:2em;
	/*position: absolute;*/
	transition:0s;
	visibility: visible;
	top:0;



}

img{
	visibility: hidden;
	width:0;
}






}
	