*{
	margin:0; padding:0;
	font-family:Arial;
}
html{
	scroll-behavior:smooth;
}
body{
	max-width:100%;
}


@media(min-width:600px){
h1{
	height:0em;
	color:white;
	margin:0 auto;

}
header{
	position:fixed;
	top:0;
	width:100%;
	display:flex;
	flex-direction:column;
	max-height:10em;
	background-color:#0883B7;
	/*box-shadow: 0px 5px 5px black;*/
}
header button{
	border:none;
	background-color:aqua;
}
header button:focus{
	border:none;
}
header img{
	margin:1em 0 0 0;
	height:4em;
	
}

nav ul{
	justify-content:center;
	list-style-type:none;
	display:flex;
	width:50%;
	margin:3em  auto;
}
nav ul li{
	
	transition:.5s;
	text-align:center;
	width:50%;
	height:2em;
	background-color:#72ACD6;
}
nav ul li h2{
	font-weight:normal;
}
nav ul li p{
	margin: .5em 1em 0 1em;
	visibility: hidden;
	text-align:left;
}
.menu{
	visibility: visible;

}
nav ul li:hover{
	color:white;
	height:6em;
	width:100%;
	background-color:#5EADAC;
	transition:.5s;
	font-size:1em;
	box-shadow:0px 5px 5px black;
}

article{
	margin:0 auto;
	padding:1em;
	/*background-color:aqua;*/
	width:50em;
	margin-top:13em;
	display:grid;
	grid-template-columns:10em auto;
	grid-template-rows: 5em 10em 10em;
	grid-column-gap:1em;

}
article h3{
	font-size:1.2em;
grid-column:2;
background-color:white;
grid-row:1;
/*font-weight:normal;*/

}
article img:first-of-type{
	grid-column:1;
	width:10em;
}
article p{
	font-size:1.2em;
	grid-column:2;
	grid-row:1;
	margin:1em 0;

}
article ul{
	grid-column:2;
	grid-row:2;
	margin-left:1em;
	list-style-type:disc;
}
aside{
	display:flex;
	flex-direction:column;
	justify-content:center;
	position:fixed;
	right:0;
	top:20em;
	height:180px;
	width:60px;
	background-color:white;
}
aside a{
	margin-left:.5em;
	
}
aside img{
	
	width:50px;
	height:50px;
	object-fit:fill;
}
}


}

@media(max-width:600px){
	header{
		display:flex;
		width:100%;
		position:fixed;
		top:0;
		max-height:2em;
		background-color:aqua;
	}
	header button{
		background-color:aqua;
		border:none;
	}
	header img{
		width:2em;
		height:2em;
		object-fit:fill;
	}
	header h1{
		margin:0 auto;
	}
	nav ul{
		display:none;
	}
}